.newsletter p, 
.newsletter h2,
.top-sellers-description p,
.top-sellers-description h2, 
.popular-section-title, 
.popular-left-text,
.social-hashtag,
h1,
button{
    color: white;
}

h1 {
    padding: 50px;
    text-align: center;
}

#header {
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .hide-logo img {
    display: none;
  }
  

  
  .plus-button{
background-color: rgb(58, 151, 58) !important;
  }
  .minus-button{
    background-color: rgb(194, 70, 70) !important;
  }

  button:not(.btn) {
      background-color: rgba(12, 77, 77, 0.556) !important;
  }
