.hidden {
    display: none;
}

.fixed-height {
    min-height: 450px;
}

.transition {
    transition: all 0.5s ease-in-out;
}

.visible {
    display: block;
}

.fondo-form {
    background-image: url("../img/fondo-populares.jpg");
}

.fondo-all {
    background-image: url("img/background/bg-login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    background-color: rgba(12, 77, 77, 0.556) !important;

}