/* Alineación y espaciado del formulario y redes sociales */
.newsletter-form .input-group {
    max-width: 100%;
}

.newsletter-button {
    width: 100%;
}

/* Estilo para la sección */
.newsletter {
    background-color: #1e1e1e; /* Fondo gris oscuro */
    padding: 40px 0;
}



.newsletter p {
    font-size: 1.1rem;
    color: #ffffff; /* Texto blanco */
}

/* Centrado y espaciado de la descripción y el formulario */
.newsletter .text-center {
    text-align: center;
}

.newsletter .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter .social-media {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
