/* Alineación y espaciado del formulario y redes sociales */
.newsletter-form .input-group {
    max-width: 100%;
  }

  .newsletter-button {
    width: 100%;
  }

  /* Estilo para la sección */
  .newsletter {
    background-color: #f8f9fa;
    padding: 40px 0;
  }

  .newsletter h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  .newsletter p {
    font-size: 1.1rem;
    color: #6c757d;
  }

  /* Centrado y espaciado de la descripción y el formulario */
  .newsletter .text-center {
    text-align: center;
  }

  .newsletter .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newsletter .social-media {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }




